# Configuración Core
SECRET_KEY=tu_secreto_aqui_generado_aleatoriamente
DATABASE_URL=postgresql://usuario:password@localhost:5432/duncan_dhu

# Google Gemini API (Motor del Chatbot)
GEMINI_API_KEY=tu_api_key_de_google_ai_studio

# Mercado Pago
MP_ACCESS_TOKEN=tu_access_token_mp
MP_PUBLIC_KEY=tu_public_key_mp
MP_WEBHOOK_SECRET=tu_webhook_secret

# Twilio (WhatsApp Notifications)
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_WHATSAPP_FROM=+14155238886

# Cloudinary (Gestor de Imágenes de Productos)
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# SMTP Brevo (Emails de recuperación de contraseña)
SMTP_HOST=smtp-relay.brevo.com
SMTP_PORT=587
SMTP_USER=
SMTP_PASSWORD=
SMTP_FROM=hola@duncandhu.com

# Extras
GOOGLE_MAPS_URL=url_iframe_google_maps_aqui
