{% extends 'base.html' %}

{% block title %}Duncan Dhu - Ticket{% endblock %}

{% block content %}

<div class="max-w-2xl mx-auto text-center">
    <h1 class="font-oswald text-3xl text-white uppercase mb-8 border-b-2 border-urban-yellow inline-block pb-2">
        Ticket de Compra #{{ order.id }}
    </h1>

    <div class="bg-white p-4 transform rotate-1 shadow-2xl">
        <div class="border-2 border-dashed border-gray-400 p-2">
            <img src="{{ url_for('static', filename='img/ticket-completo.png') }}" alt="Ticket"
                class="max-w-full mx-auto shadow-sm">
        </div>
    </div>

    <div class="mt-10">
        <a href="{{ url_for('public.home') }}" class="urban-btn-secondary">
            Volver al Inicio
        </a>
    </div>
</div>

{% endblock %}